.container {
}

.title {
  font-size: 32px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.content {
  gap: 50px;
  align-items: center;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgContainer {
  height: 500px;
  position: relative;
}

.img {
  animation: move 1s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.input,
.textArea {
  padding: 20px;
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid #bbb;
  font-size: 20px;
  font-weight: bold;
}
